/*!
Fork Awesome 1.2.0
License - https://forkaweso.me/Fork-Awesome/license

Copyright 2018 Dave Gandy & Fork Awesome

Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the "Software"), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
 */
/* FONT PATH
 * -------------------------- */
@font-face {
  font-family: 'ForkAwesome';
  src: url('../fonts/forkawesome-webfont.eot?v=1.2.0');
  src: url('../fonts/forkawesome-webfont.eot?#iefix&v=1.2.0') format('embedded-opentype'), url('../fonts/forkawesome-webfont.woff2?v=1.2.0') format('woff2'), url('../fonts/forkawesome-webfont.woff?v=1.2.0') format('woff'), url('../fonts/forkawesome-webfont.ttf?v=1.2.0') format('truetype'), url('../fonts/forkawesome-webfont.svg?v=1.2.0#forkawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
.fa-fork {
  display: inline-block;
  font: normal normal normal 14px/1 ForkAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* makes the font 33% larger relative to the icon container */
.fa-fork-lg {
  font-size: 1.33333333em;
  line-height: 0.75em;
  vertical-align: -15%;
}
.fa-fork-2x {
  font-size: 2em;
}
.fa-fork-3x {
  font-size: 3em;
}
.fa-fork-4x {
  font-size: 4em;
}
.fa-fork-5x {
  font-size: 5em;
}
.fa-fork-fw {
  width: 1.28571429em;
  text-align: center;
}
.fa-fork-ul {
  padding-left: 0;
  margin-left: 2.14285714em;
  list-style-type: none;
}
.fa-fork-ul > li {
  position: relative;
}
.fa-fork-li {
  position: absolute;
  left: -2.14285714em;
  width: 2.14285714em;
  top: 0.14285714em;
  text-align: center;
}
.fa-fork-li.fa-fork-lg {
  left: -1.85714286em;
}
.fa-fork-border {
  padding: .2em .25em .15em;
  border: solid 0.08em #eee;
  border-radius: .1em;
}
.fa-fork-pull-left {
  float: left;
}
.fa-fork-pull-right {
  float: right;
}
.fa-fork.fa-fork-pull-left {
  margin-right: .3em;
}
.fa-fork.fa-fork-pull-right {
  margin-left: .3em;
}
/* Deprecated as of 4.4.0 */
.pull-right {
  float: right;
}
.pull-left {
  float: left;
}
.fa-fork.pull-left {
  margin-right: .3em;
}
.fa-fork.pull-right {
  margin-left: .3em;
}
.fa-fork-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-fork-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
.fa-fork-rotate-90 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=1)";
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}
.fa-fork-rotate-180 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
.fa-fork-rotate-270 {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=3)";
  -webkit-transform: rotate(270deg);
  -ms-transform: rotate(270deg);
  transform: rotate(270deg);
}
.fa-fork-flip-horizontal {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=0, mirror=1)";
  -webkit-transform: scale(-1, 1);
  -ms-transform: scale(-1, 1);
  transform: scale(-1, 1);
}
.fa-fork-flip-vertical {
  -ms-filter: "progid:DXImageTransform.Microsoft.BasicImage(rotation=2, mirror=1)";
  -webkit-transform: scale(1, -1);
  -ms-transform: scale(1, -1);
  transform: scale(1, -1);
}
:root .fa-fork-rotate-90,
:root .fa-fork-rotate-180,
:root .fa-fork-rotate-270,
:root .fa-fork-flip-horizontal,
:root .fa-fork-flip-vertical {
  filter: none;
}
.fa-fork-stack {
  position: relative;
  display: inline-block;
  width: 2em;
  height: 2em;
  line-height: 2em;
  vertical-align: middle;
}
.fa-fork-stack-1x,
.fa-fork-stack-2x {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}
.fa-fork-stack-1x {
  line-height: inherit;
}
.fa-fork-stack-2x {
  font-size: 2em;
}
.fa-fork-inverse {
  color: #fff;
}
/* Fork Awesome uses the Unicode Private Use Area (PUA) to ensure screen
   readers do not read off random characters that represent icons */
.fa-fork-glass:before {
  content: "\f000";
}
.fa-fork-music:before {
  content: "\f001";
}
.fa-fork-search:before {
  content: "\f002";
}
.fa-fork-envelope-o:before {
  content: "\f003";
}
.fa-fork-heart:before {
  content: "\f004";
}
.fa-fork-star:before {
  content: "\f005";
}
.fa-fork-star-o:before {
  content: "\f006";
}
.fa-fork-user:before {
  content: "\f007";
}
.fa-fork-film:before {
  content: "\f008";
}
.fa-fork-th-large:before {
  content: "\f009";
}
.fa-fork-th:before {
  content: "\f00a";
}
.fa-fork-th-list:before {
  content: "\f00b";
}
.fa-fork-check:before {
  content: "\f00c";
}
.fa-fork-remove:before,
.fa-fork-close:before,
.fa-fork-times:before {
  content: "\f00d";
}
.fa-fork-search-plus:before {
  content: "\f00e";
}
.fa-fork-search-minus:before {
  content: "\f010";
}
.fa-fork-power-off:before {
  content: "\f011";
}
.fa-fork-signal:before {
  content: "\f012";
}
.fa-fork-gear:before,
.fa-fork-cog:before {
  content: "\f013";
}
.fa-fork-trash-o:before {
  content: "\f014";
}
.fa-fork-home:before {
  content: "\f015";
}
.fa-fork-file-o:before {
  content: "\f016";
}
.fa-fork-clock-o:before {
  content: "\f017";
}
.fa-fork-road:before {
  content: "\f018";
}
.fa-fork-download:before {
  content: "\f019";
}
.fa-fork-arrow-circle-o-down:before {
  content: "\f01a";
}
.fa-fork-arrow-circle-o-up:before {
  content: "\f01b";
}
.fa-fork-inbox:before {
  content: "\f01c";
}
.fa-fork-play-circle-o:before {
  content: "\f01d";
}
.fa-fork-rotate-right:before,
.fa-fork-repeat:before {
  content: "\f01e";
}
.fa-fork-sync:before,
.fa-fork-refresh:before {
  content: "\f021";
}
.fa-fork-list-alt:before {
  content: "\f022";
}
.fa-fork-lock:before {
  content: "\f023";
}
.fa-fork-flag:before {
  content: "\f024";
}
.fa-fork-headphones:before {
  content: "\f025";
}
.fa-fork-volume-off:before {
  content: "\f026";
}
.fa-fork-volume-down:before {
  content: "\f027";
}
.fa-fork-volume-up:before {
  content: "\f028";
}
.fa-fork-qrcode:before {
  content: "\f029";
}
.fa-fork-barcode:before {
  content: "\f02a";
}
.fa-fork-tag:before {
  content: "\f02b";
}
.fa-fork-tags:before {
  content: "\f02c";
}
.fa-fork-book:before {
  content: "\f02d";
}
.fa-fork-bookmark:before {
  content: "\f02e";
}
.fa-fork-print:before {
  content: "\f02f";
}
.fa-fork-camera:before {
  content: "\f030";
}
.fa-fork-font:before {
  content: "\f031";
}
.fa-fork-bold:before {
  content: "\f032";
}
.fa-fork-italic:before {
  content: "\f033";
}
.fa-fork-text-height:before {
  content: "\f034";
}
.fa-fork-text-width:before {
  content: "\f035";
}
.fa-fork-align-left:before {
  content: "\f036";
}
.fa-fork-align-center:before {
  content: "\f037";
}
.fa-fork-align-right:before {
  content: "\f038";
}
.fa-fork-align-justify:before {
  content: "\f039";
}
.fa-fork-list:before {
  content: "\f03a";
}
.fa-fork-dedent:before,
.fa-fork-outdent:before {
  content: "\f03b";
}
.fa-fork-indent:before {
  content: "\f03c";
}
.fa-fork-video:before,
.fa-fork-video-camera:before {
  content: "\f03d";
}
.fa-fork-photo:before,
.fa-fork-image:before,
.fa-fork-picture-o:before {
  content: "\f03e";
}
.fa-fork-pencil:before {
  content: "\f040";
}
.fa-fork-map-marker:before {
  content: "\f041";
}
.fa-fork-adjust:before {
  content: "\f042";
}
.fa-fork-tint:before {
  content: "\f043";
}
.fa-fork-edit:before,
.fa-fork-pencil-square-o:before {
  content: "\f044";
}
.fa-fork-share-square-o:before {
  content: "\f045";
}
.fa-fork-check-square-o:before {
  content: "\f046";
}
.fa-fork-arrows:before {
  content: "\f047";
}
.fa-fork-step-backward:before {
  content: "\f048";
}
.fa-fork-fast-backward:before {
  content: "\f049";
}
.fa-fork-backward:before {
  content: "\f04a";
}
.fa-fork-play:before {
  content: "\f04b";
}
.fa-fork-pause:before {
  content: "\f04c";
}
.fa-fork-stop:before {
  content: "\f04d";
}
.fa-fork-forward:before {
  content: "\f04e";
}
.fa-fork-fast-forward:before {
  content: "\f050";
}
.fa-fork-step-forward:before {
  content: "\f051";
}
.fa-fork-eject:before {
  content: "\f052";
}
.fa-fork-chevron-left:before {
  content: "\f053";
}
.fa-fork-chevron-right:before {
  content: "\f054";
}
.fa-fork-plus-circle:before {
  content: "\f055";
}
.fa-fork-minus-circle:before {
  content: "\f056";
}
.fa-fork-times-circle:before {
  content: "\f057";
}
.fa-fork-check-circle:before {
  content: "\f058";
}
.fa-fork-question-circle:before {
  content: "\f059";
}
.fa-fork-info-circle:before {
  content: "\f05a";
}
.fa-fork-crosshairs:before {
  content: "\f05b";
}
.fa-fork-times-circle-o:before {
  content: "\f05c";
}
.fa-fork-check-circle-o:before {
  content: "\f05d";
}
.fa-fork-ban:before {
  content: "\f05e";
}
.fa-fork-arrow-left:before {
  content: "\f060";
}
.fa-fork-arrow-right:before {
  content: "\f061";
}
.fa-fork-arrow-up:before {
  content: "\f062";
}
.fa-fork-arrow-down:before {
  content: "\f063";
}
.fa-fork-mail-forward:before,
.fa-fork-share:before {
  content: "\f064";
}
.fa-fork-expand:before {
  content: "\f065";
}
.fa-fork-compress:before {
  content: "\f066";
}
.fa-fork-plus:before {
  content: "\f067";
}
.fa-fork-minus:before {
  content: "\f068";
}
.fa-fork-asterisk:before {
  content: "\f069";
}
.fa-fork-exclamation-circle:before {
  content: "\f06a";
}
.fa-fork-gift:before {
  content: "\f06b";
}
.fa-fork-leaf:before {
  content: "\f06c";
}
.fa-fork-fire:before {
  content: "\f06d";
}
.fa-fork-eye:before {
  content: "\f06e";
}
.fa-fork-eye-slash:before {
  content: "\f070";
}
.fa-fork-warning:before,
.fa-fork-exclamation-triangle:before {
  content: "\f071";
}
.fa-fork-plane:before {
  content: "\f072";
}
.fa-fork-calendar:before {
  content: "\f073";
}
.fa-fork-random:before {
  content: "\f074";
}
.fa-fork-comment:before {
  content: "\f075";
}
.fa-fork-magnet:before {
  content: "\f076";
}
.fa-fork-chevron-up:before {
  content: "\f077";
}
.fa-fork-chevron-down:before {
  content: "\f078";
}
.fa-fork-retweet:before {
  content: "\f079";
}
.fa-fork-shopping-cart:before {
  content: "\f07a";
}
.fa-fork-folder:before {
  content: "\f07b";
}
.fa-fork-folder-open:before {
  content: "\f07c";
}
.fa-fork-arrows-v:before {
  content: "\f07d";
}
.fa-fork-arrows-h:before {
  content: "\f07e";
}
.fa-fork-bar-chart-o:before,
.fa-fork-bar-chart:before {
  content: "\f080";
}
.fa-fork-twitter-square:before {
  content: "\f081";
}
.fa-fork-facebook-square:before {
  content: "\f082";
}
.fa-fork-camera-retro:before {
  content: "\f083";
}
.fa-fork-key:before {
  content: "\f084";
}
.fa-fork-gears:before,
.fa-fork-cogs:before {
  content: "\f085";
}
.fa-fork-comments:before {
  content: "\f086";
}
.fa-fork-thumbs-o-up:before {
  content: "\f087";
}
.fa-fork-thumbs-o-down:before {
  content: "\f088";
}
.fa-fork-star-half:before {
  content: "\f089";
}
.fa-fork-heart-o:before {
  content: "\f08a";
}
.fa-fork-sign-out:before {
  content: "\f08b";
}
.fa-fork-linkedin-square:before {
  content: "\f08c";
}
.fa-fork-thumb-tack:before {
  content: "\f08d";
}
.fa-fork-external-link:before {
  content: "\f08e";
}
.fa-fork-sign-in:before {
  content: "\f090";
}
.fa-fork-trophy:before {
  content: "\f091";
}
.fa-fork-github-square:before {
  content: "\f092";
}
.fa-fork-upload:before {
  content: "\f093";
}
.fa-fork-lemon-o:before {
  content: "\f094";
}
.fa-fork-phone:before {
  content: "\f095";
}
.fa-fork-square-o:before {
  content: "\f096";
}
.fa-fork-bookmark-o:before {
  content: "\f097";
}
.fa-fork-phone-square:before {
  content: "\f098";
}
.fa-fork-twitter:before {
  content: "\f099";
}
.fa-fork-facebook-f:before,
.fa-fork-facebook:before {
  content: "\f09a";
}
.fa-fork-github:before {
  content: "\f09b";
}
.fa-fork-unlock:before {
  content: "\f09c";
}
.fa-fork-credit-card:before {
  content: "\f09d";
}
.fa-fork-feed:before,
.fa-fork-rss:before {
  content: "\f09e";
}
.fa-fork-hdd-o:before {
  content: "\f0a0";
}
.fa-fork-bullhorn:before {
  content: "\f0a1";
}
.fa-fork-bell-o:before {
  content: "\f0f3";
}
.fa-fork-certificate:before {
  content: "\f0a3";
}
.fa-fork-hand-o-right:before {
  content: "\f0a4";
}
.fa-fork-hand-o-left:before {
  content: "\f0a5";
}
.fa-fork-hand-o-up:before {
  content: "\f0a6";
}
.fa-fork-hand-o-down:before {
  content: "\f0a7";
}
.fa-fork-arrow-circle-left:before {
  content: "\f0a8";
}
.fa-fork-arrow-circle-right:before {
  content: "\f0a9";
}
.fa-fork-arrow-circle-up:before {
  content: "\f0aa";
}
.fa-fork-arrow-circle-down:before {
  content: "\f0ab";
}
.fa-fork-globe:before {
  content: "\f0ac";
}
.fa-fork-globe-e:before {
  content: "\f304";
}
.fa-fork-globe-w:before {
  content: "\f305";
}
.fa-fork-wrench:before {
  content: "\f0ad";
}
.fa-fork-tasks:before {
  content: "\f0ae";
}
.fa-fork-filter:before {
  content: "\f0b0";
}
.fa-fork-briefcase:before {
  content: "\f0b1";
}
.fa-fork-arrows-alt:before {
  content: "\f0b2";
}
.fa-fork-community:before,
.fa-fork-group:before,
.fa-fork-users:before {
  content: "\f0c0";
}
.fa-fork-chain:before,
.fa-fork-link:before {
  content: "\f0c1";
}
.fa-fork-cloud:before {
  content: "\f0c2";
}
.fa-fork-flask:before {
  content: "\f0c3";
}
.fa-fork-cut:before,
.fa-fork-scissors:before {
  content: "\f0c4";
}
.fa-fork-copy:before,
.fa-fork-files-o:before {
  content: "\f0c5";
}
.fa-fork-paperclip:before {
  content: "\f0c6";
}
.fa-fork-save:before,
.fa-fork-floppy-o:before {
  content: "\f0c7";
}
.fa-fork-square:before {
  content: "\f0c8";
}
.fa-fork-navicon:before,
.fa-fork-reorder:before,
.fa-fork-bars:before {
  content: "\f0c9";
}
.fa-fork-list-ul:before {
  content: "\f0ca";
}
.fa-fork-list-ol:before {
  content: "\f0cb";
}
.fa-fork-strikethrough:before {
  content: "\f0cc";
}
.fa-fork-underline:before {
  content: "\f0cd";
}
.fa-fork-table:before {
  content: "\f0ce";
}
.fa-fork-magic:before {
  content: "\f0d0";
}
.fa-fork-truck:before {
  content: "\f0d1";
}
.fa-fork-pinterest:before {
  content: "\f0d2";
}
.fa-fork-pinterest-square:before {
  content: "\f0d3";
}
.fa-fork-google-plus-square:before {
  content: "\f0d4";
}
.fa-fork-google-plus-g:before,
.fa-fork-google-plus:before {
  content: "\f0d5";
}
.fa-fork-money:before {
  content: "\f0d6";
}
.fa-fork-caret-down:before {
  content: "\f0d7";
}
.fa-fork-caret-up:before {
  content: "\f0d8";
}
.fa-fork-caret-left:before {
  content: "\f0d9";
}
.fa-fork-caret-right:before {
  content: "\f0da";
}
.fa-fork-columns:before {
  content: "\f0db";
}
.fa-fork-unsorted:before,
.fa-fork-sort:before {
  content: "\f0dc";
}
.fa-fork-sort-down:before,
.fa-fork-sort-desc:before {
  content: "\f0dd";
}
.fa-fork-sort-up:before,
.fa-fork-sort-asc:before {
  content: "\f0de";
}
.fa-fork-envelope:before {
  content: "\f0e0";
}
.fa-fork-linkedin:before {
  content: "\f0e1";
}
.fa-fork-rotate-left:before,
.fa-fork-undo:before {
  content: "\f0e2";
}
.fa-fork-legal:before,
.fa-fork-gavel:before {
  content: "\f0e3";
}
.fa-fork-dashboard:before,
.fa-fork-tachometer:before {
  content: "\f0e4";
}
.fa-fork-comment-o:before {
  content: "\f0e5";
}
.fa-fork-comments-o:before {
  content: "\f0e6";
}
.fa-fork-flash:before,
.fa-fork-bolt:before {
  content: "\f0e7";
}
.fa-fork-sitemap:before {
  content: "\f0e8";
}
.fa-fork-umbrella:before {
  content: "\f0e9";
}
.fa-fork-paste:before,
.fa-fork-clipboard:before {
  content: "\f0ea";
}
.fa-fork-lightbulb-o:before {
  content: "\f0eb";
}
.fa-fork-exchange:before {
  content: "\f0ec";
}
.fa-fork-cloud-download:before {
  content: "\f0ed";
}
.fa-fork-cloud-upload:before {
  content: "\f0ee";
}
.fa-fork-user-md:before {
  content: "\f0f0";
}
.fa-fork-stethoscope:before {
  content: "\f0f1";
}
.fa-fork-suitcase:before {
  content: "\f0f2";
}
.fa-fork-bell:before {
  content: "\f0a2";
}
.fa-fork-coffee:before {
  content: "\f0f4";
}
.fa-fork-utensils:before,
.fa-fork-cutlery:before {
  content: "\f0f5";
}
.fa-fork-file-text-o:before {
  content: "\f0f6";
}
.fa-fork-building-o:before {
  content: "\f0f7";
}
.fa-fork-hospital-o:before {
  content: "\f0f8";
}
.fa-fork-ambulance:before {
  content: "\f0f9";
}
.fa-fork-medkit:before {
  content: "\f0fa";
}
.fa-fork-fighter-jet:before {
  content: "\f0fb";
}
.fa-fork-beer:before {
  content: "\f0fc";
}
.fa-fork-h-square:before {
  content: "\f0fd";
}
.fa-fork-plus-square:before {
  content: "\f0fe";
}
.fa-fork-angle-double-left:before {
  content: "\f100";
}
.fa-fork-angle-double-right:before {
  content: "\f101";
}
.fa-fork-angle-double-up:before {
  content: "\f102";
}
.fa-fork-angle-double-down:before {
  content: "\f103";
}
.fa-fork-angle-left:before {
  content: "\f104";
}
.fa-fork-angle-right:before {
  content: "\f105";
}
.fa-fork-angle-up:before {
  content: "\f106";
}
.fa-fork-angle-down:before {
  content: "\f107";
}
.fa-fork-desktop:before {
  content: "\f108";
}
.fa-fork-laptop:before {
  content: "\f109";
}
.fa-fork-tablet:before {
  content: "\f10a";
}
.fa-fork-mobile-phone:before,
.fa-fork-mobile:before {
  content: "\f10b";
}
.fa-fork-circle-o:before {
  content: "\f10c";
}
.fa-fork-quote-left:before {
  content: "\f10d";
}
.fa-fork-quote-right:before {
  content: "\f10e";
}
.fa-fork-spinner:before {
  content: "\f110";
}
.fa-fork-circle:before {
  content: "\f111";
}
.fa-fork-mail-reply:before,
.fa-fork-reply:before {
  content: "\f112";
}
.fa-fork-github-alt:before {
  content: "\f113";
}
.fa-fork-folder-o:before {
  content: "\f114";
}
.fa-fork-folder-open-o:before {
  content: "\f115";
}
.fa-fork-smile-o:before {
  content: "\f118";
}
.fa-fork-frown-o:before {
  content: "\f119";
}
.fa-fork-meh-o:before {
  content: "\f11a";
}
.fa-fork-gamepad:before {
  content: "\f11b";
}
.fa-fork-keyboard-o:before {
  content: "\f11c";
}
.fa-fork-flag-o:before {
  content: "\f11d";
}
.fa-fork-flag-checkered:before {
  content: "\f11e";
}
.fa-fork-terminal:before {
  content: "\f120";
}
.fa-fork-code:before {
  content: "\f121";
}
.fa-fork-mail-reply-all:before,
.fa-fork-reply-all:before {
  content: "\f122";
}
.fa-fork-star-half-empty:before,
.fa-fork-star-half-full:before,
.fa-fork-star-half-o:before {
  content: "\f123";
}
.fa-fork-location-arrow:before {
  content: "\f124";
}
.fa-fork-crop:before {
  content: "\f125";
}
.fa-fork-code-fork:before {
  content: "\f126";
}
.fa-fork-unlink:before,
.fa-fork-chain-broken:before {
  content: "\f127";
}
.fa-fork-question:before {
  content: "\f128";
}
.fa-fork-info:before {
  content: "\f129";
}
.fa-fork-exclamation:before {
  content: "\f12a";
}
.fa-fork-superscript:before {
  content: "\f12b";
}
.fa-fork-subscript:before {
  content: "\f12c";
}
.fa-fork-eraser:before {
  content: "\f12d";
}
.fa-fork-puzzle-piece:before {
  content: "\f12e";
}
.fa-fork-microphone:before {
  content: "\f130";
}
.fa-fork-microphone-slash:before {
  content: "\f131";
}
.fa-fork-shield:before {
  content: "\f132";
}
.fa-fork-calendar-o:before {
  content: "\f133";
}
.fa-fork-fire-extinguisher:before {
  content: "\f134";
}
.fa-fork-rocket:before {
  content: "\f135";
}
.fa-fork-maxcdn:before {
  content: "\f136";
}
.fa-fork-chevron-circle-left:before {
  content: "\f137";
}
.fa-fork-chevron-circle-right:before {
  content: "\f138";
}
.fa-fork-chevron-circle-up:before {
  content: "\f139";
}
.fa-fork-chevron-circle-down:before {
  content: "\f13a";
}
.fa-fork-html5:before {
  content: "\f13b";
}
.fa-fork-css3:before {
  content: "\f13c";
}
.fa-fork-anchor:before {
  content: "\f13d";
}
.fa-fork-unlock-alt:before {
  content: "\f13e";
}
.fa-fork-bullseye:before {
  content: "\f140";
}
.fa-fork-ellipsis-h:before {
  content: "\f141";
}
.fa-fork-ellipsis-v:before {
  content: "\f142";
}
.fa-fork-rss-square:before {
  content: "\f143";
}
.fa-fork-play-circle:before {
  content: "\f144";
}
.fa-fork-ticket:before {
  content: "\f145";
}
.fa-fork-minus-square:before {
  content: "\f146";
}
.fa-fork-minus-square-o:before {
  content: "\f147";
}
.fa-fork-level-up:before {
  content: "\f148";
}
.fa-fork-level-down:before {
  content: "\f149";
}
.fa-fork-check-square:before {
  content: "\f14a";
}
.fa-fork-pencil-square:before {
  content: "\f14b";
}
.fa-fork-external-link-square:before {
  content: "\f14c";
}
.fa-fork-share-square:before {
  content: "\f14d";
}
.fa-fork-compass:before {
  content: "\f14e";
}
.fa-fork-toggle-down:before,
.fa-fork-caret-square-o-down:before {
  content: "\f150";
}
.fa-fork-toggle-up:before,
.fa-fork-caret-square-o-up:before {
  content: "\f151";
}
.fa-fork-toggle-right:before,
.fa-fork-caret-square-o-right:before {
  content: "\f152";
}
.fa-fork-euro:before,
.fa-fork-eur:before {
  content: "\f153";
}
.fa-fork-pound:before,
.fa-fork-gbp:before {
  content: "\f154";
}
.fa-fork-dollar:before,
.fa-fork-usd:before {
  content: "\f155";
}
.fa-fork-rupee:before,
.fa-fork-inr:before {
  content: "\f156";
}
.fa-fork-cny:before,
.fa-fork-rmb:before,
.fa-fork-yen:before,
.fa-fork-jpy:before {
  content: "\f157";
}
.fa-fork-ruble:before,
.fa-fork-rouble:before,
.fa-fork-rub:before {
  content: "\f158";
}
.fa-fork-won:before,
.fa-fork-krw:before {
  content: "\f159";
}
.fa-fork-bitcoin:before,
.fa-fork-btc:before {
  content: "\f15a";
}
.fa-fork-file:before {
  content: "\f15b";
}
.fa-fork-file-text:before {
  content: "\f15c";
}
.fa-fork-sort-alpha-down:before,
.fa-fork-sort-alpha-asc:before {
  content: "\f15d";
}
.fa-fork-sort-alpha-up:before,
.fa-fork-sort-alpha-desc:before {
  content: "\f15e";
}
.fa-fork-sort-amount-down:before,
.fa-fork-sort-amount-asc:before {
  content: "\f160";
}
.fa-fork-sort-amount-up:before,
.fa-fork-sort-amount-desc:before {
  content: "\f161";
}
.fa-fork-sort-numeric-down:before,
.fa-fork-sort-numeric-asc:before {
  content: "\f162";
}
.fa-fork-sort-numeric-up:before,
.fa-fork-sort-numeric-desc:before {
  content: "\f163";
}
.fa-fork-thumbs-up:before {
  content: "\f164";
}
.fa-fork-thumbs-down:before {
  content: "\f165";
}
.fa-fork-youtube-square:before {
  content: "\f166";
}
.fa-fork-youtube:before {
  content: "\f167";
}
.fa-fork-xing:before {
  content: "\f168";
}
.fa-fork-xing-square:before {
  content: "\f169";
}
.fa-fork-youtube-play:before {
  content: "\f16a";
}
.fa-fork-dropbox:before {
  content: "\f16b";
}
.fa-fork-stack-overflow:before {
  content: "\f16c";
}
.fa-fork-instagram:before {
  content: "\f16d";
}
.fa-fork-flickr:before {
  content: "\f16e";
}
.fa-fork-adn:before {
  content: "\f170";
}
.fa-fork-bitbucket:before {
  content: "\f171";
}
.fa-fork-bitbucket-square:before {
  content: "\f172";
}
.fa-fork-tumblr:before {
  content: "\f173";
}
.fa-fork-tumblr-square:before {
  content: "\f174";
}
.fa-fork-long-arrow-down:before {
  content: "\f175";
}
.fa-fork-long-arrow-up:before {
  content: "\f176";
}
.fa-fork-long-arrow-left:before {
  content: "\f177";
}
.fa-fork-long-arrow-right:before {
  content: "\f178";
}
.fa-fork-apple:before {
  content: "\f179";
}
.fa-fork-windows:before {
  content: "\f17a";
}
.fa-fork-android:before {
  content: "\f17b";
}
.fa-fork-linux:before {
  content: "\f17c";
}
.fa-fork-dribbble:before {
  content: "\f17d";
}
.fa-fork-skype:before {
  content: "\f17e";
}
.fa-fork-foursquare:before {
  content: "\f180";
}
.fa-fork-trello:before {
  content: "\f181";
}
.fa-fork-female:before {
  content: "\f182";
}
.fa-fork-male:before {
  content: "\f183";
}
.fa-fork-gittip:before,
.fa-fork-gratipay:before {
  content: "\f184";
}
.fa-fork-sun-o:before {
  content: "\f185";
}
.fa-fork-moon-o:before {
  content: "\f186";
}
.fa-fork-archive:before {
  content: "\f187";
}
.fa-fork-bug:before {
  content: "\f188";
}
.fa-fork-vk:before {
  content: "\f189";
}
.fa-fork-weibo:before {
  content: "\f18a";
}
.fa-fork-renren:before {
  content: "\f18b";
}
.fa-fork-pagelines:before {
  content: "\f18c";
}
.fa-fork-stack-exchange:before {
  content: "\f18d";
}
.fa-fork-arrow-circle-o-right:before {
  content: "\f18e";
}
.fa-fork-arrow-circle-o-left:before {
  content: "\f190";
}
.fa-fork-toggle-left:before,
.fa-fork-caret-square-o-left:before {
  content: "\f191";
}
.fa-fork-dot-circle-o:before {
  content: "\f192";
}
.fa-fork-wheelchair:before {
  content: "\f193";
}
.fa-fork-vimeo-square:before {
  content: "\f194";
}
.fa-fork-turkish-lira:before,
.fa-fork-try:before {
  content: "\f195";
}
.fa-fork-plus-square-o:before {
  content: "\f196";
}
.fa-fork-space-shuttle:before {
  content: "\f197";
}
.fa-fork-slack:before {
  content: "\f198";
}
.fa-fork-envelope-square:before {
  content: "\f199";
}
.fa-fork-wordpress:before {
  content: "\f19a";
}
.fa-fork-openid:before {
  content: "\f19b";
}
.fa-fork-institution:before,
.fa-fork-bank:before,
.fa-fork-university:before {
  content: "\f19c";
}
.fa-fork-mortar-board:before,
.fa-fork-graduation-cap:before {
  content: "\f19d";
}
.fa-fork-yahoo:before {
  content: "\f19e";
}
.fa-fork-google:before {
  content: "\f1a0";
}
.fa-fork-reddit:before {
  content: "\f1a1";
}
.fa-fork-reddit-square:before {
  content: "\f1a2";
}
.fa-fork-stumbleupon-circle:before {
  content: "\f1a3";
}
.fa-fork-stumbleupon:before {
  content: "\f1a4";
}
.fa-fork-delicious:before {
  content: "\f1a5";
}
.fa-fork-digg:before {
  content: "\f1a6";
}
.fa-fork-drupal:before {
  content: "\f1a9";
}
.fa-fork-joomla:before {
  content: "\f1aa";
}
.fa-fork-language:before {
  content: "\f1ab";
}
.fa-fork-fax:before {
  content: "\f1ac";
}
.fa-fork-building:before {
  content: "\f1ad";
}
.fa-fork-child:before {
  content: "\f1ae";
}
.fa-fork-paw:before {
  content: "\f1b0";
}
.fa-fork-utensil-spoon:before,
.fa-fork-spoon:before {
  content: "\f1b1";
}
.fa-fork-cube:before {
  content: "\f1b2";
}
.fa-fork-cubes:before {
  content: "\f1b3";
}
.fa-fork-behance:before {
  content: "\f1b4";
}
.fa-fork-behance-square:before {
  content: "\f1b5";
}
.fa-fork-steam:before {
  content: "\f1b6";
}
.fa-fork-steam-square:before {
  content: "\f1b7";
}
.fa-fork-recycle:before {
  content: "\f1b8";
}
.fa-fork-automobile:before,
.fa-fork-car:before {
  content: "\f1b9";
}
.fa-fork-cab:before,
.fa-fork-taxi:before {
  content: "\f1ba";
}
.fa-fork-tree:before {
  content: "\f1bb";
}
.fa-fork-spotify:before {
  content: "\f1bc";
}
.fa-fork-deviantart:before {
  content: "\f1bd";
}
.fa-fork-soundcloud:before {
  content: "\f1be";
}
.fa-fork-database:before {
  content: "\f1c0";
}
.fa-fork-file-pdf-o:before {
  content: "\f1c1";
}
.fa-fork-file-word-o:before {
  content: "\f1c2";
}
.fa-fork-file-excel-o:before {
  content: "\f1c3";
}
.fa-fork-file-powerpoint-o:before {
  content: "\f1c4";
}
.fa-fork-file-photo-o:before,
.fa-fork-file-picture-o:before,
.fa-fork-file-image-o:before {
  content: "\f1c5";
}
.fa-fork-file-zip-o:before,
.fa-fork-file-archive-o:before {
  content: "\f1c6";
}
.fa-fork-file-sound-o:before,
.fa-fork-file-audio-o:before {
  content: "\f1c7";
}
.fa-fork-file-movie-o:before,
.fa-fork-file-video-o:before {
  content: "\f1c8";
}
.fa-fork-file-code-o:before {
  content: "\f1c9";
}
.fa-fork-vine:before {
  content: "\f1ca";
}
.fa-fork-codepen:before {
  content: "\f1cb";
}
.fa-fork-jsfiddle:before {
  content: "\f1cc";
}
.fa-fork-life-bouy:before,
.fa-fork-life-buoy:before,
.fa-fork-life-saver:before,
.fa-fork-support:before,
.fa-fork-life-ring:before {
  content: "\f1cd";
}
.fa-fork-circle-o-notch:before {
  content: "\f1ce";
}
.fa-fork-ra:before,
.fa-fork-resistance:before,
.fa-fork-rebel:before {
  content: "\f1d0";
}
.fa-fork-ge:before,
.fa-fork-empire:before {
  content: "\f1d1";
}
.fa-fork-git-square:before {
  content: "\f1d2";
}
.fa-fork-git:before {
  content: "\f1d3";
}
.fa-fork-y-combinator-square:before,
.fa-fork-yc-square:before,
.fa-fork-hacker-news:before {
  content: "\f1d4";
}
.fa-fork-tencent-weibo:before {
  content: "\f1d5";
}
.fa-fork-qq:before {
  content: "\f1d6";
}
.fa-fork-wechat:before,
.fa-fork-weixin:before {
  content: "\f1d7";
}
.fa-fork-send:before,
.fa-fork-paper-plane:before {
  content: "\f1d8";
}
.fa-fork-send-o:before,
.fa-fork-paper-plane-o:before {
  content: "\f1d9";
}
.fa-fork-history:before {
  content: "\f1da";
}
.fa-fork-circle-thin:before {
  content: "\f1db";
}
.fa-fork-heading:before,
.fa-fork-header:before {
  content: "\f1dc";
}
.fa-fork-paragraph:before {
  content: "\f1dd";
}
.fa-fork-sliders:before {
  content: "\f1de";
}
.fa-fork-share-alt:before {
  content: "\f1e0";
}
.fa-fork-share-alt-square:before {
  content: "\f1e1";
}
.fa-fork-bomb:before {
  content: "\f1e2";
}
.fa-fork-soccer-ball-o:before,
.fa-fork-futbol-o:before {
  content: "\f1e3";
}
.fa-fork-tty:before {
  content: "\f1e4";
}
.fa-fork-binoculars:before {
  content: "\f1e5";
}
.fa-fork-plug:before {
  content: "\f1e6";
}
.fa-fork-slideshare:before {
  content: "\f1e7";
}
.fa-fork-twitch:before {
  content: "\f1e8";
}
.fa-fork-yelp:before {
  content: "\f1e9";
}
.fa-fork-newspaper-o:before {
  content: "\f1ea";
}
.fa-fork-wifi:before {
  content: "\f1eb";
}
.fa-fork-calculator:before {
  content: "\f1ec";
}
.fa-fork-paypal:before {
  content: "\f1ed";
}
.fa-fork-google-wallet:before {
  content: "\f1ee";
}
.fa-fork-cc-visa:before {
  content: "\f1f0";
}
.fa-fork-cc-mastercard:before {
  content: "\f1f1";
}
.fa-fork-cc-discover:before {
  content: "\f1f2";
}
.fa-fork-cc-amex:before {
  content: "\f1f3";
}
.fa-fork-cc-paypal:before {
  content: "\f1f4";
}
.fa-fork-cc-stripe:before {
  content: "\f1f5";
}
.fa-fork-bell-slash:before {
  content: "\f1f6";
}
.fa-fork-bell-slash-o:before {
  content: "\f1f7";
}
.fa-fork-trash:before {
  content: "\f1f8";
}
.fa-fork-copyright:before {
  content: "\f1f9";
}
.fa-fork-at:before {
  content: "\f1fa";
}
.fa-fork-eyedropper:before {
  content: "\f1fb";
}
.fa-fork-paint-brush:before {
  content: "\f1fc";
}
.fa-fork-birthday-cake:before {
  content: "\f1fd";
}
.fa-fork-area-chart:before {
  content: "\f1fe";
}
.fa-fork-pie-chart:before {
  content: "\f200";
}
.fa-fork-line-chart:before {
  content: "\f201";
}
.fa-fork-lastfm:before {
  content: "\f202";
}
.fa-fork-lastfm-square:before {
  content: "\f203";
}
.fa-fork-toggle-off:before {
  content: "\f204";
}
.fa-fork-toggle-on:before {
  content: "\f205";
}
.fa-fork-bicycle:before {
  content: "\f206";
}
.fa-fork-bus:before {
  content: "\f207";
}
.fa-fork-ioxhost:before {
  content: "\f208";
}
.fa-fork-angellist:before {
  content: "\f209";
}
.fa-fork-closed-captioning:before,
.fa-fork-cc:before {
  content: "\f20a";
}
.fa-fork-shekel:before,
.fa-fork-sheqel:before,
.fa-fork-ils:before {
  content: "\f20b";
}
.fa-fork-meanpath:before {
  content: "\f20c";
}
.fa-fork-buysellads:before {
  content: "\f20d";
}
.fa-fork-connectdevelop:before {
  content: "\f20e";
}
.fa-fork-dashcube:before {
  content: "\f210";
}
.fa-fork-forumbee:before {
  content: "\f211";
}
.fa-fork-leanpub:before {
  content: "\f212";
}
.fa-fork-sellsy:before {
  content: "\f213";
}
.fa-fork-shirtsinbulk:before {
  content: "\f214";
}
.fa-fork-simplybuilt:before {
  content: "\f215";
}
.fa-fork-skyatlas:before {
  content: "\f216";
}
.fa-fork-cart-plus:before {
  content: "\f217";
}
.fa-fork-cart-arrow-down:before {
  content: "\f218";
}
.fa-fork-gem:before,
.fa-fork-diamond:before {
  content: "\f219";
}
.fa-fork-ship:before {
  content: "\f21a";
}
.fa-fork-user-secret:before {
  content: "\f21b";
}
.fa-fork-motorcycle:before {
  content: "\f21c";
}
.fa-fork-street-view:before {
  content: "\f21d";
}
.fa-fork-heartbeat:before {
  content: "\f21e";
}
.fa-fork-venus:before {
  content: "\f221";
}
.fa-fork-mars:before {
  content: "\f222";
}
.fa-fork-mercury:before {
  content: "\f223";
}
.fa-fork-intersex:before,
.fa-fork-transgender:before {
  content: "\f224";
}
.fa-fork-transgender-alt:before {
  content: "\f225";
}
.fa-fork-venus-double:before {
  content: "\f226";
}
.fa-fork-mars-double:before {
  content: "\f227";
}
.fa-fork-venus-mars:before {
  content: "\f228";
}
.fa-fork-mars-stroke:before {
  content: "\f229";
}
.fa-fork-mars-stroke-v:before {
  content: "\f22a";
}
.fa-fork-mars-stroke-h:before {
  content: "\f22b";
}
.fa-fork-neuter:before {
  content: "\f22c";
}
.fa-fork-genderless:before {
  content: "\f22d";
}
.fa-fork-facebook-official:before {
  content: "\f230";
}
.fa-fork-pinterest-p:before {
  content: "\f231";
}
.fa-fork-whatsapp:before {
  content: "\f232";
}
.fa-fork-server:before {
  content: "\f233";
}
.fa-fork-user-plus:before {
  content: "\f234";
}
.fa-fork-user-times:before {
  content: "\f235";
}
.fa-fork-hotel:before,
.fa-fork-bed:before {
  content: "\f236";
}
.fa-fork-viacoin:before {
  content: "\f237";
}
.fa-fork-train:before {
  content: "\f238";
}
.fa-fork-subway:before {
  content: "\f239";
}
.fa-fork-medium:before {
  content: "\f23a";
}
.fa-fork-medium-square:before {
  content: "\f2f8";
}
.fa-fork-yc:before,
.fa-fork-y-combinator:before {
  content: "\f23b";
}
.fa-fork-optin-monster:before {
  content: "\f23c";
}
.fa-fork-opencart:before {
  content: "\f23d";
}
.fa-fork-expeditedssl:before {
  content: "\f23e";
}
.fa-fork-battery-4:before,
.fa-fork-battery:before,
.fa-fork-battery-full:before {
  content: "\f240";
}
.fa-fork-battery-3:before,
.fa-fork-battery-three-quarters:before {
  content: "\f241";
}
.fa-fork-battery-2:before,
.fa-fork-battery-half:before {
  content: "\f242";
}
.fa-fork-battery-1:before,
.fa-fork-battery-quarter:before {
  content: "\f243";
}
.fa-fork-battery-0:before,
.fa-fork-battery-empty:before {
  content: "\f244";
}
.fa-fork-mouse-pointer:before {
  content: "\f245";
}
.fa-fork-i-cursor:before {
  content: "\f246";
}
.fa-fork-object-group:before {
  content: "\f247";
}
.fa-fork-object-ungroup:before {
  content: "\f248";
}
.fa-fork-sticky-note:before {
  content: "\f249";
}
.fa-fork-sticky-note-o:before {
  content: "\f24a";
}
.fa-fork-cc-jcb:before {
  content: "\f24b";
}
.fa-fork-cc-diners-club:before {
  content: "\f24c";
}
.fa-fork-clone:before {
  content: "\f24d";
}
.fa-fork-balance-scale:before {
  content: "\f24e";
}
.fa-fork-hourglass-o:before {
  content: "\f250";
}
.fa-fork-hourglass-1:before,
.fa-fork-hourglass-start:before {
  content: "\f251";
}
.fa-fork-hourglass-2:before,
.fa-fork-hourglass-half:before {
  content: "\f252";
}
.fa-fork-hourglass-3:before,
.fa-fork-hourglass-end:before {
  content: "\f253";
}
.fa-fork-hourglass:before {
  content: "\f254";
}
.fa-fork-hand-grab-o:before,
.fa-fork-hand-rock-o:before {
  content: "\f255";
}
.fa-fork-hand-stop-o:before,
.fa-fork-hand-paper-o:before {
  content: "\f256";
}
.fa-fork-hand-scissors-o:before {
  content: "\f257";
}
.fa-fork-hand-lizard-o:before {
  content: "\f258";
}
.fa-fork-hand-spock-o:before {
  content: "\f259";
}
.fa-fork-hand-pointer-o:before {
  content: "\f25a";
}
.fa-fork-hand-peace-o:before {
  content: "\f25b";
}
.fa-fork-trademark:before {
  content: "\f25c";
}
.fa-fork-registered:before {
  content: "\f25d";
}
.fa-fork-creative-commons:before {
  content: "\f25e";
}
.fa-fork-gg:before {
  content: "\f260";
}
.fa-fork-gg-circle:before {
  content: "\f261";
}
.fa-fork-tripadvisor:before {
  content: "\f262";
}
.fa-fork-odnoklassniki:before {
  content: "\f263";
}
.fa-fork-odnoklassniki-square:before {
  content: "\f264";
}
.fa-fork-get-pocket:before {
  content: "\f265";
}
.fa-fork-wikipedia-w:before {
  content: "\f266";
}
.fa-fork-safari:before {
  content: "\f267";
}
.fa-fork-chrome:before {
  content: "\f268";
}
.fa-fork-firefox:before {
  content: "\f269";
}
.fa-fork-opera:before {
  content: "\f26a";
}
.fa-fork-internet-explorer:before {
  content: "\f26b";
}
.fa-fork-tv:before,
.fa-fork-television:before {
  content: "\f26c";
}
.fa-fork-contao:before {
  content: "\f26d";
}
.fa-fork-500px:before {
  content: "\f26e";
}
.fa-fork-amazon:before {
  content: "\f270";
}
.fa-fork-calendar-plus-o:before {
  content: "\f271";
}
.fa-fork-calendar-minus-o:before {
  content: "\f272";
}
.fa-fork-calendar-times-o:before {
  content: "\f273";
}
.fa-fork-calendar-check-o:before {
  content: "\f274";
}
.fa-fork-industry:before {
  content: "\f275";
}
.fa-fork-map-pin:before {
  content: "\f276";
}
.fa-fork-map-signs:before {
  content: "\f277";
}
.fa-fork-map-o:before {
  content: "\f278";
}
.fa-fork-map:before {
  content: "\f279";
}
.fa-fork-commenting:before {
  content: "\f27a";
}
.fa-fork-commenting-o:before {
  content: "\f27b";
}
.fa-fork-houzz:before {
  content: "\f27c";
}
.fa-fork-vimeo-v:before,
.fa-fork-vimeo:before {
  content: "\f27d";
}
.fa-fork-black-tie:before {
  content: "\f27e";
}
.fa-fork-fonticons:before {
  content: "\f280";
}
.fa-fork-reddit-alien:before {
  content: "\f281";
}
.fa-fork-edge:before {
  content: "\f282";
}
.fa-fork-credit-card-alt:before {
  content: "\f283";
}
.fa-fork-codiepie:before {
  content: "\f284";
}
.fa-fork-modx:before {
  content: "\f285";
}
.fa-fork-fort-awesome:before {
  content: "\f286";
}
.fa-fork-usb:before {
  content: "\f287";
}
.fa-fork-product-hunt:before {
  content: "\f288";
}
.fa-fork-mixcloud:before {
  content: "\f289";
}
.fa-fork-scribd:before {
  content: "\f28a";
}
.fa-fork-pause-circle:before {
  content: "\f28b";
}
.fa-fork-pause-circle-o:before {
  content: "\f28c";
}
.fa-fork-stop-circle:before {
  content: "\f28d";
}
.fa-fork-stop-circle-o:before {
  content: "\f28e";
}
.fa-fork-shopping-bag:before {
  content: "\f290";
}
.fa-fork-shopping-basket:before {
  content: "\f291";
}
.fa-fork-hashtag:before {
  content: "\f292";
}
.fa-fork-bluetooth:before {
  content: "\f293";
}
.fa-fork-bluetooth-b:before {
  content: "\f294";
}
.fa-fork-percent:before {
  content: "\f295";
}
.fa-fork-gitlab:before {
  content: "\f296";
}
.fa-fork-wpbeginner:before {
  content: "\f297";
}
.fa-fork-wpforms:before {
  content: "\f298";
}
.fa-fork-envira:before {
  content: "\f299";
}
.fa-fork-universal-access:before {
  content: "\f29a";
}
.fa-fork-wheelchair-alt:before {
  content: "\f29b";
}
.fa-fork-question-circle-o:before {
  content: "\f29c";
}
.fa-fork-blind:before {
  content: "\f29d";
}
.fa-fork-audio-description:before {
  content: "\f29e";
}
.fa-fork-phone-volume:before,
.fa-fork-volume-control-phone:before {
  content: "\f2a0";
}
.fa-fork-braille:before {
  content: "\f2a1";
}
.fa-fork-assistive-listening-systems:before {
  content: "\f2a2";
}
.fa-fork-asl-interpreting:before,
.fa-fork-american-sign-language-interpreting:before {
  content: "\f2a3";
}
.fa-fork-deafness:before,
.fa-fork-hard-of-hearing:before,
.fa-fork-deaf:before {
  content: "\f2a4";
}
.fa-fork-glide:before {
  content: "\f2a5";
}
.fa-fork-glide-g:before {
  content: "\f2a6";
}
.fa-fork-signing:before,
.fa-fork-sign-language:before {
  content: "\f2a7";
}
.fa-fork-low-vision:before {
  content: "\f2a8";
}
.fa-fork-viadeo:before {
  content: "\f2a9";
}
.fa-fork-viadeo-square:before {
  content: "\f2aa";
}
.fa-fork-snapchat:before {
  content: "\f2ab";
}
.fa-fork-snapchat-ghost:before {
  content: "\f2ac";
}
.fa-fork-snapchat-square:before {
  content: "\f2ad";
}
.fa-fork-first-order:before {
  content: "\f2b0";
}
.fa-fork-yoast:before {
  content: "\f2b1";
}
.fa-fork-themeisle:before {
  content: "\f2b2";
}
.fa-fork-google-plus-circle:before,
.fa-fork-google-plus-official:before {
  content: "\f2b3";
}
.fa-fork-fa:before,
.fa-fork-font-awesome:before {
  content: "\f2b4";
}
.fa-fork-handshake-o:before {
  content: "\f2b5";
}
.fa-fork-envelope-open:before {
  content: "\f2b6";
}
.fa-fork-envelope-open-o:before {
  content: "\f2b7";
}
.fa-fork-linode:before {
  content: "\f2b8";
}
.fa-fork-address-book:before {
  content: "\f2b9";
}
.fa-fork-address-book-o:before {
  content: "\f2ba";
}
.fa-fork-vcard:before,
.fa-fork-address-card:before {
  content: "\f2bb";
}
.fa-fork-vcard-o:before,
.fa-fork-address-card-o:before {
  content: "\f2bc";
}
.fa-fork-user-circle:before {
  content: "\f2bd";
}
.fa-fork-user-circle-o:before {
  content: "\f2be";
}
.fa-fork-user-o:before {
  content: "\f2c0";
}
.fa-fork-id-badge:before {
  content: "\f2c1";
}
.fa-fork-drivers-license:before,
.fa-fork-id-card:before {
  content: "\f2c2";
}
.fa-fork-drivers-license-o:before,
.fa-fork-id-card-o:before {
  content: "\f2c3";
}
.fa-fork-quora:before {
  content: "\f2c4";
}
.fa-fork-free-code-camp:before {
  content: "\f2c5";
}
.fa-fork-telegram:before {
  content: "\f2c6";
}
.fa-fork-thermometer-4:before,
.fa-fork-thermometer:before,
.fa-fork-thermometer-full:before {
  content: "\f2c7";
}
.fa-fork-thermometer-3:before,
.fa-fork-thermometer-three-quarters:before {
  content: "\f2c8";
}
.fa-fork-thermometer-2:before,
.fa-fork-thermometer-half:before {
  content: "\f2c9";
}
.fa-fork-thermometer-1:before,
.fa-fork-thermometer-quarter:before {
  content: "\f2ca";
}
.fa-fork-thermometer-0:before,
.fa-fork-thermometer-empty:before {
  content: "\f2cb";
}
.fa-fork-shower:before {
  content: "\f2cc";
}
.fa-fork-bathtub:before,
.fa-fork-s15:before,
.fa-fork-bath:before {
  content: "\f2cd";
}
.fa-fork-podcast:before {
  content: "\f2ce";
}
.fa-fork-window-maximize:before {
  content: "\f2d0";
}
.fa-fork-window-minimize:before {
  content: "\f2d1";
}
.fa-fork-window-restore:before {
  content: "\f2d2";
}
.fa-fork-times-rectangle:before,
.fa-fork-window-close:before {
  content: "\f2d3";
}
.fa-fork-times-rectangle-o:before,
.fa-fork-window-close-o:before {
  content: "\f2d4";
}
.fa-fork-bandcamp:before {
  content: "\f2d5";
}
.fa-fork-grav:before {
  content: "\f2d6";
}
.fa-fork-etsy:before {
  content: "\f2d7";
}
.fa-fork-imdb:before {
  content: "\f2d8";
}
.fa-fork-ravelry:before {
  content: "\f2d9";
}
.fa-fork-eercast:before {
  content: "\f2da";
}
.fa-fork-microchip:before {
  content: "\f2db";
}
.fa-fork-snowflake-o:before {
  content: "\f2dc";
}
.fa-fork-superpowers:before {
  content: "\f2dd";
}
.fa-fork-wpexplorer:before {
  content: "\f2de";
}
.fa-fork-meetup:before {
  content: "\f2e0";
}
.fa-fork-mastodon:before {
  content: "\f2e1";
}
.fa-fork-mastodon-alt:before {
  content: "\f2e2";
}
.fa-fork-fork-circle:before,
.fa-fork-fork-awesome:before {
  content: "\f2e3";
}
.fa-fork-peertube:before {
  content: "\f2e4";
}
.fa-fork-diaspora:before {
  content: "\f2e5";
}
.fa-fork-friendica:before {
  content: "\f2e6";
}
.fa-fork-gnu-social:before {
  content: "\f2e7";
}
.fa-fork-liberapay-square:before {
  content: "\f2e8";
}
.fa-fork-liberapay:before {
  content: "\f2e9";
}
.fa-fork-ssb:before,
.fa-fork-scuttlebutt:before {
  content: "\f2ea";
}
.fa-fork-hubzilla:before {
  content: "\f2eb";
}
.fa-fork-social-home:before {
  content: "\f2ec";
}
.fa-fork-artstation:before {
  content: "\f2ed";
}
.fa-fork-discord:before {
  content: "\f2ee";
}
.fa-fork-discord-alt:before {
  content: "\f2ef";
}
.fa-fork-patreon:before {
  content: "\f2f0";
}
.fa-fork-snowdrift:before {
  content: "\f2f1";
}
.fa-fork-activitypub:before {
  content: "\f2f2";
}
.fa-fork-ethereum:before {
  content: "\f2f3";
}
.fa-fork-keybase:before {
  content: "\f2f4";
}
.fa-fork-shaarli:before {
  content: "\f2f5";
}
.fa-fork-shaarli-o:before {
  content: "\f2f6";
}
.fa-fork-cut-key:before,
.fa-fork-key-modern:before {
  content: "\f2f7";
}
.fa-fork-xmpp:before {
  content: "\f2f9";
}
.fa-fork-archive-org:before {
  content: "\f2fc";
}
.fa-fork-freedombox:before {
  content: "\f2fd";
}
.fa-fork-facebook-messenger:before {
  content: "\f2fe";
}
.fa-fork-debian:before {
  content: "\f2ff";
}
.fa-fork-mastodon-square:before {
  content: "\f300";
}
.fa-fork-tipeee:before {
  content: "\f301";
}
.fa-fork-react:before {
  content: "\f302";
}
.fa-fork-dogmazic:before {
  content: "\f303";
}
.fa-fork-zotero:before {
  content: "\f309";
}
.fa-fork-nodejs:before {
  content: "\f308";
}
.fa-fork-nextcloud:before {
  content: "\f306";
}
.fa-fork-nextcloud-square:before {
  content: "\f307";
}
.fa-fork-hackaday:before {
  content: "\f30a";
}
.fa-fork-laravel:before {
  content: "\f30b";
}
.fa-fork-signalapp:before {
  content: "\f30c";
}
.fa-fork-gnupg:before {
  content: "\f30d";
}
.fa-fork-php:before {
  content: "\f30e";
}
.fa-fork-ffmpeg:before {
  content: "\f30f";
}
.fa-fork-joplin:before {
  content: "\f310";
}
.fa-fork-syncthing:before {
  content: "\f311";
}
.fa-fork-inkscape:before {
  content: "\f312";
}
.fa-fork-matrix-org:before {
  content: "\f313";
}
.fa-fork-pixelfed:before {
  content: "\f314";
}
.fa-fork-bootstrap:before {
  content: "\f315";
}
.fa-fork-dev-to:before {
  content: "\f316";
}
.fa-fork-hashnode:before {
  content: "\f317";
}
.fa-fork-jirafeau:before {
  content: "\f318";
}
.fa-fork-emby:before {
  content: "\f319";
}
.fa-fork-wikidata:before {
  content: "\f31a";
}
.fa-fork-gimp:before {
  content: "\f31b";
}
.fa-fork-c:before {
  content: "\f31c";
}
.fa-fork-digitalocean:before {
  content: "\f31d";
}
.fa-fork-att:before {
  content: "\f31e";
}
.fa-fork-gitea:before {
  content: "\f31f";
}
.fa-fork-file-epub:before {
  content: "\f321";
}
.fa-fork-python:before {
  content: "\f322";
}
.fa-fork-archlinux:before {
  content: "\f323";
}
.fa-fork-pleroma:before {
  content: "\f324";
}
.fa-fork-unsplash:before {
  content: "\f325";
}
.fa-fork-hackster:before {
  content: "\f326";
}
.fa-fork-spell-check:before {
  content: "\f327";
}
.fa-fork-moon:before {
  content: "\f328";
}
.fa-fork-sun:before {
  content: "\f329";
}
.fa-fork-f-droid:before {
  content: "\f32a";
}
.fa-fork-biometric:before {
  content: "\f32b";
}
.fa-fork-wire:before {
  content: "\f32c";
}
.fa-fork-tor-onion:before {
  content: "\f32e";
}
.fa-fork-volume-mute:before {
  content: "\f32f";
}
.fa-fork-bell-ringing:before {
  content: "\f32d";
}
.fa-fork-bell-ringing-o:before {
  content: "\f330";
}
.fa-fork-hal:before {
  content: "\f333";
}
.fa-fork-jupyter:before {
  content: "\f335";
}
.fa-fork-julia:before {
  content: "\f334";
}
.fa-fork-classicpress:before {
  content: "\f331";
}
.fa-fork-classicpress-circle:before {
  content: "\f332";
}
.fa-fork-open-collective:before {
  content: "\f336";
}
.fa-fork-orcid:before {
  content: "\f337";
}
.fa-fork-researchgate:before {
  content: "\f338";
}
.fa-fork-funkwhale:before {
  content: "\f339";
}
.fa-fork-askfm:before {
  content: "\f33a";
}
.fa-fork-blockstack:before {
  content: "\f33b";
}
.fa-fork-boardgamegeek:before {
  content: "\f33c";
}
.fa-fork-bunny:before {
  content: "\f35f";
}
.fa-fork-buymeacoffee:before {
  content: "\f33d";
}
.fa-fork-cc-by:before {
  content: "\f33e";
}
.fa-fork-creative-commons-alt:before,
.fa-fork-cc-cc:before {
  content: "\f33f";
}
.fa-fork-cc-nc-eu:before {
  content: "\f341";
}
.fa-fork-cc-nc-jp:before {
  content: "\f342";
}
.fa-fork-cc-nc:before {
  content: "\f340";
}
.fa-fork-cc-nd:before {
  content: "\f343";
}
.fa-fork-cc-pd:before {
  content: "\f344";
}
.fa-fork-cc-remix:before {
  content: "\f345";
}
.fa-fork-cc-sa:before {
  content: "\f346";
}
.fa-fork-cc-share:before {
  content: "\f347";
}
.fa-fork-cc-zero:before {
  content: "\f348";
}
.fa-fork-conway-hacker:before,
.fa-fork-conway-glider:before {
  content: "\f349";
}
.fa-fork-csharp:before {
  content: "\f34a";
}
.fa-fork-email-bulk:before {
  content: "\f34b";
}
.fa-fork-email-bulk-o:before {
  content: "\f34c";
}
.fa-fork-gnu:before {
  content: "\f34d";
}
.fa-fork-google-play:before {
  content: "\f34e";
}
.fa-fork-heroku:before {
  content: "\f34f";
}
.fa-fork-hassio:before,
.fa-fork-home-assistant:before {
  content: "\f350";
}
.fa-fork-java:before {
  content: "\f351";
}
.fa-fork-mariadb:before {
  content: "\f352";
}
.fa-fork-markdown:before {
  content: "\f353";
}
.fa-fork-mysql:before {
  content: "\f354";
}
.fa-fork-nordcast:before {
  content: "\f355";
}
.fa-fork-plume:before {
  content: "\f356";
}
.fa-fork-postgresql:before {
  content: "\f357";
}
.fa-fork-sass-alt:before {
  content: "\f359";
}
.fa-fork-sass:before {
  content: "\f358";
}
.fa-fork-skate:before {
  content: "\f35a";
}
.fa-fork-sketchfab:before {
  content: "\f35b";
}
.fa-fork-tex:before {
  content: "\f35c";
}
.fa-fork-textpattern:before {
  content: "\f35d";
}
.fa-fork-unity:before {
  content: "\f35e";
}
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.sr-only-focusable:active,
.sr-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
